<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-center{
	 padding-left:300px;
}
.message_body{
	height:200px;
	width:500px;
}
#stream_item{
	display:inline;
	margin: 0; 
}
.list-group-item{
	padding:15px;
	margin-right:20px;
}
.message_body{
	border-radius: 10px;
}
.stream-footer{
	margin-left: 20px;
}
</style>

<div class="container vertical-center">
 <div class="stream">
	<%= form_for :message, url:messages_path do |f| %>
	<%= f.text_area :body, id: "url", placeholder: "Type Message here...", class: "message_body" %>
	<div id="stream-list" class="follow-list">
		<ul>
			<% @recipients.each do |contact| %>
				<li id="stream_item">
					<label for="user<%=contact.id%>", class:"col-xs-12 col-sm-9">
					<span class="list-group-item"><%= contact.name %><%= check_box_tag "message[user_tokens][]",contact.id, @message.users.include?(contact), id: "user#{contact.id}" %></span>
			   </li>
			</label>
			<br>
			<% end %>
		</ul>
	</div>
	<div class="stream-footer">
		<%= f.button :submit, class: "btn btn-success" %>
		<% end %>
	</div>
	
 </div>	
</div>